Protocol 2
ListenAddress 0.0.0.0
Port 22

HostbasedAuthentication no
MaxAuthTries 3
PermitRootLogin no
PasswordAuthentication no
PermitEmptyPasswords no
PubkeyAuthentication yes
UsePAM no
AuthorizedKeysFile  /etc/ssh/authorized_keys

HostKeyAlgorithms ssh-ed25519
PubkeyAcceptedKeyTypes ssh-ed25519

ClientAliveInterval 300
ClientAliveCountMax 2
MaxStartups 10:30:60
MaxSessions 10
X11Forwarding no
AllowTcpForwarding yes
AllowAgentForwarding yes

LogLevel INFO
SyslogFacility AUTH

StrictModes yes
IgnoreRhosts yes
KeepAlive yes
